<html>
    <head> <link rel="stylesheet" href={{ url_for ('static', filename = 'styles.css')}} /> </head>
    <body>
    <h1 >{{recipe_title}}</h1>
    <h3>Author: {{author}} - {{tweet}}</h2>
    <h3>Date of Tweet: {{date}} at Time {{time}}</h3>
    
    <a href={{src_url}}>RECIPE</a>
    <h2>Prep Time: {{prep_time}}</h2>
    <h3>Servings: {{servings}}</h3> 
    
   <ul style="list-style-type:none;"> 
<!-- For loop logic of jinja template -->
{%for item in ingredient_list%} 
  
    <li>{{item}}</li> 
{%endfor%} 
  
</ul> 
     <img src={{image}} >
    </body>
</html>
